PORT=4000
INTERNAL_API_BASE_URL=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_API_PREFIX=/api/v1
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_SENTRY_ENABLED=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SITE_URL=
REVALIDATE_SECRET=
