# mongodb
MONGO_ROOT_USERNAME=devuser
MONGO_ROOT_PASSWORD=devpassword

# postgres
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=devdb

# redis
REDIS_PASSWORD=devpassword
REDIS_EXTERNAL_PORT=6379
REDIS_MAXMEMORY=192mb

# kafka
KAFKA_EXTERNAL_HOST=localhost
KAFKA_EXTERNAL_PORT=9092
KAFKA_LOG_RETENTION_HOURS=168
KAFKA_LOG_RETENTION_BYTES=536870912
KAFKA_LOG_SEGMENT_BYTES=134217728

# kafka-ui
KAFKA_UI_PORT=8080
KAFKA_UI_CLUSTER_NAME=mealio
KAFKA_UI_BOOTSTRAP_SERVERS=kafka:19092

# prometheus
PROMETHEUS_PORT=9090
PROMETHEUS_PRODUCER_TARGET=producer:9100
PROMETHEUS_CONSUMER_TARGET=consumer:9101
PROMETHEUS_PUSHGATEWAY_TARGET=pushgateway:9091

# pushgateway
PUSHGATEWAY_PORT=9091

# grafana
GRAFANA_PORT=3030
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_MONGODB_CONNECTION_SCHEME=mongodb
GRAFANA_MONGODB_HOST=mongodb:27017
GRAFANA_MONGODB_USER=devuser
GRAFANA_MONGODB_PASSWORD=devpassword
GRAFANA_MONGODB_DATABASE=devdb
GRAFANA_POSTGRES_HOST=postgres:5432
GRAFANA_POSTGRES_USER=devuser
GRAFANA_POSTGRES_PASSWORD=devpassword
GRAFANA_POSTGRES_DATABASE=devdb
GRAFANA_POSTGRES_SSL_MODE=disable
SLACK_OPS_WEBHOOK_URL=none
SLACK_PRODUCT_WEBHOOK_URL=none

# container memory limits
MONGODB_MEMORY_LIMIT=768M
POSTGRES_MEMORY_LIMIT=1G
REDIS_MEMORY_LIMIT=256M
KAFKA_MEMORY_LIMIT=768M
KAFKA_UI_MEMORY_LIMIT=512M
PROMETHEUS_MEMORY_LIMIT=512M
PUSHGATEWAY_MEMORY_LIMIT=128M
GRAFANA_MEMORY_LIMIT=512M
