# mongodb
MONGO_ROOT_USERNAME=devuser
MONGO_ROOT_PASSWORD=devpassword

# postgres
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=devdb

# kafka
KAFKA_EXTERNAL_HOST=localhost
KAFKA_EXTERNAL_PORT=9092

# kafka-ui
KAFKA_UI_PORT=8080
KAFKA_UI_CLUSTER_NAME=mealio
KAFKA_UI_BOOTSTRAP_SERVERS=kafka:19092

# prometheus
PROMETHEUS_TARGETS_MODE=compose
PROMETHEUS_PORT=9090
PROMETHEUS_PRODUCER_PORT=3000
PROMETHEUS_CONSUMER_PORT=9091
PUSHGATEWAY_PORT=9093

# grafana
GRAFANA_PORT=3030
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_MONGODB_HOST=mongodb:27017
GRAFANA_MONGODB_USER=devuser
GRAFANA_MONGODB_PASSWORD=devpassword
GRAFANA_MONGODB_DATABASE=devdb
SLACK_OPS_WEBHOOK_URL=none
SLACK_PRODUCT_WEBHOOK_URL=none
