MONGODB_URL=mongodb://localhost:27017/cook
REDIS_URL=redis://localhost:6379
KAFKA_CLIENT_ID=cook-consumer
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=cook-chatbot-consumers
OPENAI_API_KEY=sk-...
OPENAI_CHAT_MODEL=gpt-4.1-mini
