NODE_ENV=development
PORT=3000
JWT_SECRET=your-jwt-secret-min-1-char
POSTGRESQL_URL=postgresql://user:password@localhost:5432/dbname
MONGODB_URL=mongodb://user:password@localhost:27017/dbname?authSource=admin
