NODE_ENV=development
PORT=3000
JWT_SECRET=a-string-secret-at-least-256-bits-long
POSTGRESQL_URL=postgresql://devuser:devpassword@localhost:5432/devdb
MONGODB_URL=mongodb://devuser:devpassword@localhost:27017/devdb?authSource=admin
REDIS_URL=redis://localhost:6379
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=cook-producer
